<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<form class="" action="/create" method="post">
  <p>[医薬品名]</p>
  <input type="text" name="name" value="name">
  <p>[URLを入力](最後の数値は削除した状態で入力)</p>
  <input type="text" name="url" value="url">
  <input type="submit" value="登録">
</form>

<p>[登録一覧]</p>
  <% @druginfo.each do |druginfo| %>
  <p>-----------------------------------------------------</p>
    <label for="name">医薬品名：<%= druginfo.name %></label>
      <br>
      <label for="url">URL:<%= druginfo.url %></label>

      <form class="" action="/delete/<%= druginfo.id %>" method="post">
        <input type="submit" value="削除">
      </form>
      <form class="" action="/mining/<%= druginfo.id %>" method="post">
        <input type="submit" value="解析画面へ">
      </form>
  <% end %>
</body>
</html>
